@CHARSET "UTF-8";
.calender_box{}
.calender_click{border:1px solid #e0dcdc;width:14.04%;float:left;height:7em;}
.rs_b{border-left:none;}
.bottom_b{border-top:none;}
.calender_left{width:80%;float:left;}
.calender_right{border:1px solid #e0dcdc;width:19.65%;float:right;}
.calender_show{height:15em;}